<p>reactiveform works!</p>

<div>
    Reactive Form!!!!
    <br>

    <form [formGroup]="reactivePersonal"  (ngSubmit)="saveFormValue(reactivePersonal)">
        First Name:
        <input type="text"  formControlName="fname" >
        <span *ngIf="reactivePersonal.controls.fname.invalid 
                    && (reactivePersonal.controls.fname.dirty 
                        || reactivePersonal.controls.fname.touched)">
                        Minimum 4 alphabets. No Numbers or special characters!
        </span>
        {{fname}}
        <br>
        Last Name:
        <input type="text"  formControlName="lname" > 
        <span *ngIf="reactivePersonal.controls.lname.invalid 
        && (reactivePersonal.controls.lname.dirty 
            || reactivePersonal.controls.lname.touched)">
            Minimum 3 alphabets!
        </span>
        {{lname}}
        <br>
        Programming:
        <select  formControlName="choice" >
            <option value="java">Java</option>
            <option value="python">Python</option>
            <option value="c++">C++</option>
        </select>
        {{choice}}
        <br>
        <br>
    
        <button type="submit" [disabled]="reactivePersonal.invalid">Submit</button>
    
    </form>
</div>
reactivePersonal: {{ reactivePersonal.invalid }}
<br>
fname: {{reactivePersonal.controls.fname.invalid}}
